.login-header{
    position: relative;
    left: -25%;
    color: var(--Primary-color, #299D91);
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 80% */
    letter-spacing: 3.2px;

    span{
        font-weight: 800
    }
}


.centered-form{
    position: relative;
    left: -25%;
    display: flex; 
    flex-direction: column;
    align-items: center; 
}


.form-label{
    color: var(--color-text-primary);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}


.form-input{
    display: flex;
    width: 400px;
    height: 48px;
    padding: 12px 16px;
    align-items: flex-start;
    gap: 24px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid var(--Gray-02, #4B5768);
    background-color: #E8E8E8;
    color: black;
}

.form-btn{
    margin-top: 70px;
    display: flex;
    width: 400px;
    height: 48px;
    padding: 16px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: var(--Primary-color, #299D91);
    color: white;
}


.flex{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
}

.line-div{
    left: 65px;
    position: relative;
    width: 370px;
    height: 1px;
    opacity: 0.25;
    background: #4B5768;
}

.signIn-header-background{
    left: -186px;
    position: relative;
    z-index: 1;
    width: 128px;
    background-color: #E8E8E8;
}

.signIn-header{
    color: var(--Gray-01, #999DA3);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}



.create-account-btn{
    position: relative;
    left: 180px;
    color: var(--Primary-color, #299D91);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;

    &:hover{
        cursor: pointer;
    }
}

